/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#credit {
position: absolute;
right: 0;
margin-right: 2.75rem;
font-size: .7rem;
text-transform: uppercase;
color: #808080;
}
.goBack {
font-size: 1.25rem;
/* vertical-align: middle; */
text-align: right;
/* text-decoration: underline; */
cursor: pointer;
color: #3D3D3D;
margin-top: 0.5rem;
font-weight: normal;

}

.goBack:hover {
text-decoration: underline;
}

.building-details{
    display: none;
}
.purpleBlock {
height: 1rem;
width: 1rem;
background-color: #803e98;
display: inline-block;
margin-right: 4px;
}

.blueBlock {
display: inline-block;
height: 1rem;
width: 1rem;
background-color: #007fb2;
margin-right: 4px;
}

.blueText {
font-weight: normal;
text-align:left;
margin-top: 0.5rem;
}

#map-inset {
position: absolute;
top: 31.1rem;
right: -.15rem;
margin: 3rem;
width: 15.1%;
height: 15.7%;
border: 1px solid black;
}

.purpleText {
font-weight: normal;
text-align:left;
margin-bottom:0.5rem;
}

.housing-info {
padding: 1rem;
background-color: #b3d4fc;
margin: 1rem;
width: 31%;
text-align: center;
float:left;
}

.top-nav {
width: 100%;
height: 3rem;
top: 0;
background-color: rgb(255, 200, 98);
}

body > div.title-description > h3 {
font-size: 1.4em;
margin-bottom: 0;
margin-right: 0em;
}

.title-description {
position: absolute;
right: 0;
top: 0;
text-align: right;
width: 26rem;
margin-right: 3.5%;
margin-top: 3.25rem;
font-size: .9rem;
}

.housing-title {
font-family: helvetica neue;
font-size: 5rem;
font-weight: 800;
text-align: left;
padding-left: 1rem;
}

.housing-info-title {
text-align: left;
font-weight: bold;
border-bottom: 1px solid gray;
padding-bottom: .5rem;
}


.housing-info-title>span {
font-weight: normal;
font-size: 0.8rem;
text-align: right;
}


.housing-info-body {
text-align: left;
}

#shaft_map {
height: 30em;
width: 60%;
float: left;
border: 1px solid black;
margin-top: 1rem;
}
.spec-logo{
position: absolute;
height: 2rem;
width: 14rem;
margin-left:1rem;
margin-top: 0.5rem;
left: 0;
background-size: contain;
background-image: url("/Users/knan/Desktop/spec_online/shaft_map/img/whitemasthead.png");
z-index: 32;
background-repeat: no-repeat;
}

.icon-filters>img {
width: 56px;
}

.icon-filters>img {
width: 69px;
margin: 0.5rem;
}

.icon {
width: 69px;
height: 70px;
background-size: cover;
float:left;
cursor:pointer;
}

.no-touch.icon:hover, .icon.active{
/*    //background-color:rgba(255,255,255,0.7);
*/    background-image: url("/Users/knan/Desktop/spec_online/shaft_map/img/check_alt-512.png") !important;
    background-size: contain !important;
    background-repeat: no-repeat;

}

.icon.stall {
width: 71px;
}

.icon-wrap {
width: 69px;
float: left;
text-align: center;
margin: 0.5rem;
font-size: 0.8rem;
font-weight: bold;
}

.instructions {
text-align: center;
}

.icon-filters {
text-align: center;
font-weight: bold;
}

.outer-icon-wrap {
margin-left: 6.5%;
margin-right: 6.5%;
width: 100%;
}

.result {
width: 47%;
float: left;
border: 1px solid rgb(121, 121, 121);
margin: 2px;
cursor: pointer;
background-color: rgb(218, 218, 218);
color: black;
padding: 1px;
border-radius: 10px;
}
.full-version {
    display:none;
}

svg:not(:root) {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media all and (max-width: 42em) {
.full-version {
 display:inherit;
font-size: .7rem;
text-transform: uppercase;
color: #808080;
text-align: right;
padding-right: 0.5rem;
padding-top: 0.25rem;
padding-bottom: 0.25rem;
}

.title-description {
    display:none;
}

 #shaft_map {
display:none !important;
}

.instructions{
    display:none !important;
}
.housing-title {
font-size: 3rem;
text-align: left;
background-color: black;
color: white;
}
.housing-info-title {
display:none !important;
}
.housing-info{
    width: 100%;
    margin: 0;
padding: 0;
position:relative;
}
.housing-info-body{
    padding: 1rem;
}
.result{
width: 100%;
float: left;
border:0;
border-top: 1px solid gray;
padding:0;
padding-top: 1rem !important;
padding-bottom: 1rem !important;
font-weight: bold;
cursor: pointer;
background-color: rgb(218, 218, 218);
color: black;
border-radius:0;
margin:0;
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}