/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/***********************************************************************
Top Nav Styling
************************************************************************/   
.top-nav {
    padding: 0.5rem;
    top: 0;
    background-color: rgb(255, 200, 98);
}

body > div.top-nav > div > a > img {
    width: 100%;
    height: auto;
}

.ad {
    float:left;
    max-width: 65%;
}

body > div.top-nav.clearfix > img {
    width: 25%;
    float: left;
    height: auto;
    margin-right:7%;
}

.title-description>p{
    font-family: 'Whitney SSm A', 'Whitney SSm B';
    font-weight: 500;
    font-style: normal;
}


/***********************************************************************
Top Shaft Titles
************************************************************************/   
body > div.housing-title > a {
    color: rgb(20, 20, 20);
    text-decoration: none;
}
body > div.housing-title > a:hover {
    color: gray;
    text-decoration: none;
}
body > div.title-description > h3 {
    font-size: 1.25em;
    margin-bottom: 0;
    margin-right: 0em;
    font-family: 'Whitney SSm A', 'Whitney SSm B';
    font-weight: 700;
    font-style: normal;
}


/***********************************************************************
Bottom box ads
************************************************************************/   
#box-ad {
    margin-top: 2rem;
    float: left;
    margin-right: 1rem;
}

#box-ad-2 > a > img {
    margin-top: 2rem;
}

/***********************************************************************
Cutoff Grid
************************************************************************/ 

.cutoff-title {
    font-weight: 700;
    margin-top: 1rem;
}

.cutoff-row {
    width: 100%;
    font-size: 0.9rem;
    font-weight: 600;
}
.cutoff-type {
    width: 58%;
    float: left;
}
.cutoff-cutoff {
    width: 40%;
    float: left;
}

/***********************************************************************
Left Pane Filters/Icons
************************************************************************/ 
.icon-result-wrapper>img {
    margin-top: 0.25rem;
}

.icon-result-wrapper {
    display: block;
    clear: left;
    padding-top: 0.5rem;
}

.purpleBlock {
    height: 1rem;
    width: 1rem;
    background-color: #803e98;
    display: inline-block;
    margin-right: 4px;
}

.blueBlock {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    background-color: #007fb2;
    margin-right: 4px;
}

.blueText {
    font-weight: normal;
    text-align:left;
    margin-top: 0.5rem;
    margin-bottom:0.5rem;
    width:12rem;
}
.blueText.active, .purpleText.active {
    font-weight: bold;
}

.blueText:hover,  .purpleText:hover{
    text-decoration: underline;
    cursor:pointer;
}

.purpleText {
    font-weight: normal;
    text-align:left;
    margin-bottom:0.5rem;
    width:10rem;
}

.icon-filters {
text-align: center;
font-weight: bold;
}

.outer-icon-wrap {
text-align: center;
padding: 0.5rem;
width: 100%;
}

.icon-filters>img {
    width: 56px;
}

.icon-filters>img {
    width: 69px;
    margin: 0.5rem;
}

.icon {
    width: 69px;
    height: 70px;
    background-size: cover;
    float:left;
    cursor:pointer;
}

.no-touch .icon:hover, .icon.active{
    background-image: url("http://spectrum.columbiaspectator.com/shaft_map/img/check_alt-512.png") !important;
    background-size: contain !important;
    background-repeat: no-repeat;

}

.icon-wrap {
width: 69px;
float: left;
text-align: center;
margin: 0.5rem;
font-size: 0.8rem;
font-weight: bold;
}

.icon.stall{
    width: 71px;
}

/***********************************************************************
Building details/map
************************************************************************/ 

.housing-info-body>img {
    margin-bottom: 0.25rem;
}

.filter-results {
    clear: both;
}

#credit {
    position: absolute;
    right: 0;
    margin-right: 4%;
    font-size: .7rem;
    text-transform: uppercase;
    color: #808080;
    width: 53%;
    text-align: right;
}

.goBack {
    font-size: 1.25rem;
    text-align: right;
    cursor: pointer;
    color: #3D3D3D;
    margin-top: 0.5rem;
    font-weight: normal;
}

.goBack:hover {
    text-decoration: underline;
}

.building-details{
    display: none;
}

#box-ad-id {
    margin-bottom: 1rem;
}
#map-inset {
    position: absolute;
    top: 39rem;
    right: 0;
    margin: 3rem;
    margin-right: 6%;
    width: 15.1%;
    max-width: 10rem;
    max-height: 6rem;
    background-color: white;
    border: 1px solid black;
}



.housing-info {
    padding: 1rem;
    background-color: #b3d4fc;
    margin: 1rem;
    width: 31%;
    text-align: center;
    min-height: 52rem;
    float:left;
    font-family: 'Whitney SSm A', 'Whitney SSm B';
    font-weight: 700;
    font-style: normal
}

.building-details {
    text-transform: uppercase;
    color: rgb(78, 77, 77);
    font-weight: 600;
}

.title-description {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    width: 26rem;
    margin-right: 3.5%;
    margin-top: 6.75rem;
    font-size: .9rem;
}

.housing-title {
    font-size: 5rem;
    text-align: left;
    padding-left: 1rem;
    font-family: 'Whitney SSm A', 'Whitney SSm B';
    font-weight: 800;
    text-transform: uppercase;
}

.housing-info-title {
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid gray;
    padding-bottom: .5rem;
}

.housing-info-title>span {
    font-weight: normal;
    font-size: 0.8rem;
    text-align: right;
}

.housing-info-body {
    text-align: left;
    font-weight: 500;
    line-height: 1.5;
}

.housing-info-body>h2{
    text-transform:uppercase;
}

#shaft_map {
    height: 36em;
    width: 60%;
    float: left;
    border: 1px solid black;
    margin-top: 1rem;
}
.spec-logo {
    float: left;
    height: auto;
    width: 25%;
    margin-left: 1rem;
    margin-top: 0.5rem;
    left: 0;
    z-index: 32;
    margin-right: 7%;
}

.instructions {
text-align: center;
}

.result {
width: 47%;
float: left;
border: 1px solid rgb(121, 121, 121);
margin: 2px;
cursor: pointer;
background-color: rgb(218, 218, 218);
color: black;
padding: 1px;
border-radius: 4px;
font-weight: 600;
}

.no-touch .result:hover{
    background-color:rgb(255, 214, 139);
}

.full-version {
    display:none;
}

svg:not(:root) {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media all and (max-width: 47em) {
    
    .housing-info{
        min-height: 18rem;
    }
    body > div.housing-title > a {
        color: white;
    }
    .full-version {
        display:inherit;
        font-size: .7rem;
        text-transform: uppercase;
        color: #808080;
        text-align: right;
        padding-right: 0.5rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }

    .outer-icon-wrap {
    width: 95%;
    }

    .title-description {
        display:none;
    }

     #shaft_map {
        display:inherit ;
        width:100% ;
        height:auto;
        border:none;
        border-top:1px solid gray;
        background-color:rgb(218, 218, 218);
        margin-top:0;
    }
    #credit{
        display:none;
    }
    #map{
        display:none ;
    }
    #map-inset{
        display:none ;
    }
    .instructions{
        display:none ;
    }
    .housing-title {
        font-size: 3rem ;
        text-align: left;
        background-color: black;
        color: white;
    }
    .housing-info-title {
    display:none ;
    }
    .housing-info{
        width: 100%;
        margin: 0;
        padding: 0;
        position:relative;
    }
    .housing-info-body{
        padding: 1rem;
    }
    .result{
        width: 100%;
        float: left;
        border:0;
        border-top: 1px solid gray;
        padding:0;
        padding-top: 1rem ;
        padding-bottom: 1rem ;
        font-weight: bold;
        cursor: pointer;
        background-color: rgb(218, 218, 218);
        color: black;
        border-radius:0;
        margin:0;
    }

    body > div.top-nav.clearfix > img {
        width: 75%;
        float: left;
        margin-left: 12.25%;
        height: auto;
    }

    body > div.top-nav > div > a > img {
        width: 100%;
        height: auto;
        margin-left:0;
    }


    .ad {
        float: left;
        max-width: 100% ;
    }
    .top-nav {
        width: auto;
        text-align:center;
    }

    .spec-logo {
        text-align: center;
        margin: auto;
        height: auto;
        width: 59%;
        margin-left: 21%;
        margin-bottom: 0.5rem;
    }
}

@media all and (max-width: 63em) {

    #box-ad-2 > a > img {
        margin-top: 1rem;
    }

    #box-ad {
        margin-right:0;
        float:none;
    }   
    #box-ad-id {
        text-align: center;
    }
    #map-inset{
        top: 38rem !important;
    }

    .housing-title {
        font-size:4rem;
    }

    .title-description{
        font-size: 0.7rem;
        width: 19rem;
        margin-top: 5rem;
    }
    .title-description p{
        margin-top:0.5rem;
    }
    .icon-wrap {
        width: 59px;
    }
    .icon {
        width: 59px;
        height: 70px;
        background-size: contain;
        float: left;
        cursor: pointer;
        background-repeat: no-repeat;
    }
    .icon.stall{
        width:61px;
    }
    .outer-icon-wrap{
        margin-left:0;
        margin-right:0;
    }
    #shaft_map{
        width: 59%;
    }
    .housing-info-body {
        font-size:0.8rem;
    }

}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}




/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}